- if current_user.has_subscription?(resource)
  = link_to 'Unsubscribe', unsubscribe_question_path(resource), remote: true, method: :delete, class: 'card-link subscribe-link'
- else
  = link_to 'Subscribe', subscribe_question_path(resource), remote: true, method: :post, class: 'card-link subscribe-link'